#eduexp {
  /* padding: 1.5rem 0 1.5rem 0; */
  width: 100vw;
  /* max-height: fit-content; */
  height: 39vh;
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* font-family: Sacramento, cursive; */
  font-family: cursive;
}

.firstsectionedu {
  background-color: limegreen;
  width: 50vw;
  height: fit-content;

  /* position: absolute; */
}

.firstsectionedu > p {
  font-size: 3rem;
  margin-left: 15vw;
  color: whitesmoke;
}

.firstsectionedu > h3 {
  margin-left: 3vw;
}

.secondsectionedu {
  background-color: teal;
  width: 50vw;
  height: fit-content;
}

.secondsectionedu > p {
  font-size: 3rem;
  margin-left: 20vw;
  /* color: whitesmoke; */
}
